@{
    ViewData["Title"] = "Change Password";
    @model ChangePasswordViewModel;
}
<div class="w-full h-full py-12">
    <div class="my-4 md:my-12 mx-auto relative w-full max-w-lg">
        <div class="absolute bg-gradient-to-r transform -rotate-6 inset-0 rounded-3xl from-indigo-500 to-purple-400"></div>
        <div class="relative shadow-lg rounded-2xl bg-white z-10 px-2 sm:px-4 md:px-8">
            <div class="py-4 px-2 text-center">
                <h1 class="text-4xl font-bold text-indigo-700 font-sans">Login</h1>
            </div>
            <div class="">
                @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post,
                new
                {
                   @class = "grid grid-cols-1 gap-y-2"
                }))
                {
                    <div class="flex flex-col">
                        @Html.LabelFor(x => x.OldPassword)
                        @Html.TextBoxFor(x => x.OldPassword, new { @class="form-control"})
                    </div>
                    <div class="flex flex-col">
                        @Html.LabelFor(x => x.NewPassword)
                        @Html.TextBoxFor(x => x.NewPassword, new { @class="form-control", @type="password"})
                    </div>
                    <div class="flex flex-col">
                        @Html.LabelFor(x => x.ConfirmPassword)
                        @Html.TextBoxFor(x => x.ConfirmPassword, new { @class="form-control", @type="password"})
                    </div>

                    <div class="mt-2 flex items-stretch gap-x-2">
                        <button class="btn btn-primary" type="submit">Change Password</button>
                        <a class="btn bg-gray-300 text-gray-800 hover:bg-gray-500 transition duration-100 ease-in font-bold font-sans"
                           asp-action="Index"
                           asp-controller="Home">
                            Cancel
                        </a>
                    </div>
                    <div class="flex flex-col mt-2">
                        @foreach (var modeleState in ViewData.ModelState.Values)
                        {
                            foreach (var error in modeleState.Errors)
                            {
                                <h5 class="text-red-600 text-base font-sans mb-2">@error.ErrorMessage</h5>
                            }
                        }
                    </div>
                }
            </div>
        </div>

    </div>
</div>
