@model CarHub.Models.VehicleDetailsViewModel
@inject CarHub.Services.IVehicleRepairsService repairsService
@{
    ViewData["Title"] = "Details";
    var repairs = await repairsService.GetVehicleRepairs(Model.Id, default);
}

<h1>Vehicle Details</h1>

<div>
    <h4>
        @Html.DisplayFor(model => model.Year)
        @Html.DisplayFor(model => model.Make)
        @Html.DisplayFor(model => model.Model)
        @Html.DisplayFor(model => model.Trim)
    </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SellingPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SellingPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>

    <div class="row">
        @foreach (var image in Model.Images)
        {
            <div class="col">
                <img src="@image" alt="Vehicle Image" class="img-fluid rounded" />
            </div>
        }
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "EditCar", new { id = Model.Id }) |
    @Html.ActionLink("Publish For Sale", "Publish", new { id = Model.Id }) |
    @Html.ActionLink("Add Photos", "UploadImage", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>

<h4>Repairs</h4>
@if (repairs.Count > 0)
{
    <div class="list-group">
        @foreach (var repair in repairs)
        {
            <div class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                    <div class="fw-bold">@Html.DisplayFor(_ => repair.Description)</div>
                    @Html.DisplayFor(_ => repair.RepairDate)
                </div>
                <span class="badge bg-primary text-lg rounded-pill">@Html.DisplayFor(_ => repair.Cost)</span>
            </div>
        }
    </div>
}
else
{
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid">
            <h3 class="display-5 fw-bold">No repairs were applied to this vehicle</h3>
            <p class="col-md-8 fs-4">
                Please add any work you did on the vehicle to reflect the true cost
            </p>
        </div>
    </div>
}
<div class="row">
    <div class="col">
        <a class="btn btn-primary" asp-action="AddRepair" asp-route-id="@Model.Id">
            Add Repair
        </a>
    </div>
</div>