@model CarHub.Models.VehicleDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>
        @Html.DisplayFor(model => model.Year)
        @Html.DisplayFor(model => model.Make)
        @Html.DisplayFor(model => model.Model)
        @Html.DisplayFor(model => model.Trim)
    </h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Make)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Make)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Trim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Trim)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PurchasePrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PurchasePrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SellingPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SellingPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "EditCar", new { id = Model.Id }) |
    @Html.ActionLink("Repairs", "Repairs", new { id = Model.Id }) |
    @Html.ActionLink("Publish For Sale", "Publish", new { id = Model.Id }) |
    @Html.ActionLink("Add Photos", "UploadImage", new { id = Model.Id }) |
    <a asp-action="Index">Back to List</a>
</div>
