@using System.Linq
@model CarHub.Models.VehicleInputViewModel
@inject CarHub.Services.IInventoryService vehicleService
@{
    ViewData["Title"] = "EditCar";
    var id = int.Parse((string)this.ViewContext.RouteData.Values["id"]);
    var vehicleInfo = await vehicleService.GetVehicleAsync(id, default);
}

<h1>Edit Car</h1>

<h4>
    @Html.DisplayFor(_ => vehicleInfo.Year)
    @Html.DisplayFor(_ => vehicleInfo.Make)
    @Html.DisplayFor(_ => vehicleInfo.Model)
    @Html.DisplayFor(_ => vehicleInfo.Trim)
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditCar">
            <partial name="_VehicleFormPartial" for="@Model"></partial>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
