@using System.Linq
@model IEnumerable<CarHub.Models.VehicleDetailsViewModel>
@inject CarHub.Services.IVehicleMakeService vehicleMakeService

@{
    ViewData["Title"] = "Home";
    int totalItems = (int)ViewData["TotalItems"];
    int currentPage = (int)ViewData["CurrentPage"];

    var totalPages = Math.Ceiling(totalItems / 20M);

    var yearRange = Enumerable.Range(1990, DateTime.Today.Year - 1990 + 2).OrderByDescending(v => v);

    var makes = await vehicleMakeService.GetVehicleMakes(default);
    var makeOptions = makes.Select(m => new SelectListItem(m.Name, m.Id.ToString()));
    string selectedMakeId = Context.Request.Query["make"];

    var selectedMake = selectedMakeId == null ? null : makes.FirstOrDefault(m => m.Id == int.Parse(selectedMakeId));
}
<div class="flex flex-col items-stretch">
    <div class="px-2 md:px-4 py-16 text-center bg-gray-200">
        <h1 class="text-7xl font-bold font-sans text-indigo-700">Welcome to Eddie's Car Sale</h1>
    </div>
    <div class="px-2 md:px-4 py-8 text-center bg-gray-100">
        <div class="mx-auto my-4 max-w-xl flex gap-2">
            <select class="form-control w-full" id="selectedMake">
                <option>Filter by make</option>
                @foreach (var option in makeOptions)
                {
                    <option value="@option.Value">@option.Text</option>
                }
            </select>

            <a class="btn btn-primary w-full" id="filterByMakeAnchor" href="#">
                Filter
            </a>
        </div>
        @if (selectedMake != null)
        {
            <div class="mx-auto my-4 max-w-xl ">
                <h4 class="my-2 text-gray-700 text-4xl text-center">@selectedMake.Name</h4>
            </div>
        }
    </div>

    @if (@Model.Any())
    {
        <div class="px-2 sm:px-4 md:px-8 py-4 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-y-8 gap-x-4">
            @foreach (var car in Model)
            {
                <a class="block mb-16" asp-action="Details" asp-route-id="@car.Id">
                    <div class="relative">
                        <div class="relative py-32 bg-black rounded-lg overflow-hidden shadow-lg">
                            @if (car.Images.Any())
                            {
                                <img class="absolute inset-0 h-full w-full rounded-lg shadow-md object-cover" src="@car.Images.First()" alt="">
                            }
                        </div>
                        <div class="absolute inset-x-0 bottom-0 px-4 transform translate-y-1/2">
                            <div class="bg-white rounded-lg px-4 py-4 shadow-lg flex items-center">
                                <div class="flex-grow">
                                    <h4 class="mt-1 text-gray-900 font-semibold text-2xl">
                                        @Html.DisplayFor(c => car.Make)
                                        @Html.DisplayFor(c => car.Model)
                                    </h4>
                                    <div class="flex items-baseline">
                                        <div class="text-lg text-gray-600 font-semibold uppercase tracking-wide">
                                            @Html.DisplayFor(c => car.Year) &bull;
                                            @Html.DisplayFor(c => car.Trim)
                                        </div>
                                    </div>
                                </div>
                                <div class="flex-shrink-0 rounded-md bg-green-100 px-4 py-2">
                                    <span class="text-4xl font-bold text-green-600">@Html.DisplayFor(c => car.SellingPrice)</span>
                                </div>
                            </div>
                        </div>
                        @if (car.Status != CarHub.Data.LotDisplayStatus.Show && User.Identity.IsAuthenticated)
                        {
                            <div class="absolute top-4 left-8 w-auto h-auto z-50 rounded shadow opacity-75 overflow-hidden">
                                <div class="px-4 py-2 bg-gray-300 text-gray-900 uppercase font-bold text-lg font-sans">
                                    @car.Status.ToString()
                                </div>
                            </div>
                        }
                    </div>
                </a>
            }
        </div>

        @if (totalPages > 1)
        {
            <div class="space-y-2">
                <h4 class="text-center text-sm text-gray-600 font-sans font-bold leading-tight">
                    Showing items @((currentPage-1)*20 + 1) to @((currentPage-1)*20 + Model.Count()) of @totalItems
                </h4>
            </div>
            <div class="px-2 sm:px-4 md:px-8 pb-4 flex flex-wrap gap-2 justify-center items-center">
                @for (int i = 1; i <= totalPages; i++)
                {
                    @if (i != currentPage)
                    {
                        <a class="w-12 h-12 flex items-center justify-center rounded-full transition-all duration-100 border-2 group border-indigo-300 hover:bg-indigo-500 hover:border-indigo-500" asp-action="Index" asp-route-page="@i">
                            <span class="text-indigo-500 group-hover:text-white">@i</span>
                        </a>
                    }
                    else
                    {
                        <div class="w-12 h-12 flex items-center justify-center rounded-full border-2  border-gray-300 bg-gray-500 hover:bg-gray-600">
                            <span class="text-white">@i</span>
                        </div>
                    }
                }
            </div>

        }
    }
    else
    {
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">We don't have any vehicles in our inventory yet</h1>
                <p class="col-md-8 fs-4">
                    Be sure to check regularly to view new inventory, and to stay up to date with our latest offers
                </p>
            </div>
        </div>
    }
</div>
@section Scripts
{
<script type="text/javascript">
        $(document).ready(function () {
        $('#filterByMakeAnchor').addClass('cursor-not-allowed');

        $('#selectedMake').on('change', function (event) {
            const val = event.target.value;
            if (val && val != '') {

                $('#filterByMakeAnchor').removeClass('cursor-not-allowed');
                $('#filterByMakeAnchor').attr('href','/?page=1&make=' + val);
            }
        });
    });
</script>
}